# Copy or rename this file to secrets.yaml on your local ESPHome system.
# DO NOT commit your actual secrets.yaml to git.

wifi_ssid: "Your_WiFi_SSID"
wifi_password: "Your_WiFi_Password"
esphome_web_c0c120__api_encryption_key_349_blue: "Your_API_Encryption_Key"

# Home Assistant Domain and Internal IP for URL Rewriting
ha_domain: "your-ha-domain.com"
ha_internal_ip: "192.168.1.100"
